.searchtab-back{
    display: flex;
    margin-bottom: 0;
}
.searchtab-cont-cont{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: #dbdbdb;
    margin-bottom: 20px;
}
.searchtab-cont-cont.one{
    width: 90%;
}
.searchtab-cont-cont.two{
    width: 100%;
    color: gray;
    font: 400 13.3333px Arial;
    padding-left: 1%;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    width: 9%;
}
.searchtab-input{
    width: auto;
    height: 35px;
    flex: 3.5;
    background-color: transparent;
    font-size: 15px;
    border-style: none;
    padding-left: 15px;
}
.searchtab-input:focus{
    outline: none;
}
.searchtab-input-icon{
    margin-right: 0.5vw;
}
.searchtab-btn-icon{
    background-color: transparent;
    border-style: none;
    height: 100%;
    cursor: pointer;
    width: 40px;
}
.searchtab-date-input{
    padding-left: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    color: gray;
    font: 400 13.3333px Arial;
}
.searchtab-filters-breadcrumbs{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}