.cont-login-container{
    display: flex;
    justify-content: start;
    flex-direction: row; 
    height: 100vh;
    width: 100vw;
}
.cont-login-backlogin{
    height: 100vh;
    width: 500px;
    min-width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-login-ilustrator{
    width: 600px;
    
}
.cont-login-ilustrator{
    width: inherit;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-login-login{
    font-weight: 600;
    color: #2B2B2B;
    font-size: 40px;
    text-align: start;
}
.text-login-punto{
    font-weight: 600;
    color: #9357F7;
    font-size: 40px;
    text-align: start;
}
.login-text-cont{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.cont-login-cont-ev{
    width: 300px;
    height: initial;
    margin-bottom: 40px;
}
.text-login-input{
    font-weight: 600;
    color: #2B2B2B;
    text-align: start;
    margin-bottom: 5px;
}
.normal{
    border-color: #dddddd;
}
.input-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 35px;
    color: #767676;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: initial;
    box-sizing: border-box;
}
.input-login:focus{
    outline: none;
}
.input-error-text{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 17px;
    color: #F63A39;
}
.error{
    border-color: #F63A39 !important; 
}
.input-place{
    color: #767676;
    border: none;
    width: 100%;
}
.input-place:focus{
    outline: none;
}
.input-login-error{
    outline: none;
}
.inactive{
    margin-top: 50px;
}
.active{
    margin-top: 20px;
}
.btn-login-input{

    width: 300px;
    height: 35px;
    border-radius: 4px;
    background-color: #9357F7;
    color: white;
    border-style: none;
    cursor: pointer;
}

.btn-login-input:hover{
    background-color: #8146e0;
}
.btn-login-input:focus{
    outline: none;
}
.btn-login-input a{
    text-decoration-line: none;
    color: white;
    font-weight: 500;
}

.login-cont-loading{
    width: 100vw;
    height: 100vh;
    z-index: 50;
    position: absolute;
    background-color: #4b4b4b4f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-loading{
    width: 100px;
    border-radius: 20px;
    border-style: solid;
    border-width: 0px;
    height: 100px;
    background-color: white;
    position: absolute;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-error{
    color: red;
    margin-top: 5px;
    font-size: 13px;
}