.btn-home-link{
    flex: 1;
}
.purple{
    width: 100%;
    height: 90px;
    border-style:none;
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    text-align: start;
    padding-left: 20px;
    font-size: 16px;
    background-image: url('../../../img/purple_home_button1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 8px;
    cursor: pointer;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.purple:hover{
    background-color: #8845f5;
}
.purple p{
    font-family: 'Montserrat', sans-serif;
    max-width: 200px;
}

.blue{
    width: 100%;
    height: 90px;
    border-style:none;
    background-color: #6957F7;
    color: white;
    font-weight: 600;
    text-align: start;
    padding-left: 20px;
    font-size: 16px;
    background-image: url('../../../img/blue_home_button1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 8px;
    cursor: pointer;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.blue:hover{
    background-color: #604bff;
}
.blue p{
    font-family: 'Montserrat', sans-serif;
    max-width: 200px;
}

.lightblue{
    margin-right: 0 !important;
    width: 100% !important;
    height: 90px;
    border-style:none;
    background-color: #5795F7;
    color: white;
    font-weight: 600;
    text-align: start;
    padding-left: 20px;
    font-size: 16px;
    background-image: url('../../../img/lightblue_home_button1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding-right: 50px;
    align-items: center;
}
.lightblue:hover{
    background-color: #4a8af0;
}
.lightblue p{
    font-family: 'Montserrat', sans-serif;
    max-width: 250px;
}

@media screen and (max-width: 790px) {
    .lightblue{
        margin-top: 2%;
    }
}

@media screen and (min-width: 930px) {
    .btn-home-margin{
        margin-right: 40px;
    }
}

@media screen and (max-width: 930px) {
    .btn-home-margin{
        margin-right: 2%;
    }
}
@media screen and (max-width: 790px) {
    .btn-home-margin{
        margin-top: 2%;
    }
}

