/* MODAL */
/* Background effect.Hace todo lo de afuera mas oscuro*/
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
    border-style: none;
} 
/* Modal content */
.modal-content-new-medic {
    background-color: white;
    width: 450px; /* Width in proportion to its parent container*/
    max-width: 650px; /* Max width where it stops expanding */
    height:; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px; /* Optional. Rounds container corners */
    border-style: none;
}
/* Close button */
.close {
   color: #aaaaaa;
   float: right; /* Positioned to the right of the parent container whichever size it is */
   font-size: 25px;
   font-weight: bold;
   border-style: none;
   display: flex;
   margin-right: 10px;
   justify-self: end;
   position: absolute;
   align-self: flex-end;
}
.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-inside-the-modal{ 
    margin-left: 35px;
}
.add-inside-the-modal p{
    margin-top: 30px;
    margin-bottom: 8px;
}
.add-cancer-the-modal{
    margin-top: 30px;
    margin-left: 20px;
}
.add-modal-line{
    margin-top: 15px;

    border-bottom-color: white;
    border-top-color: var(--grey6);
    border-top-style: solid;
    border-top-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.input-new-medic{
    align-items: center;
    display: flex;
    justify-content: space-between !important;
    width: 370px;
    border-color:var(--grey6);
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding:8px;
    box-sizing: border-box;
    font-size: 15px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}
.input-new-medic-pass{
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;

}
.input-new-medic:focus {
    outline: none;
}
.input-new-medic.error{
    border-color: var(--red) !important;
}
.error-not-valid{
    color: var(--red);
}

.agregar-button{
    background-color:var(--primary);
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
}
.add-cont-button{
    display: flex;
    align-self: flex-end;
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 3%;
}

.modal-add-input-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-password-validate-text{
    margin-top: 10px !important;
    font-size: 13px;
    margin-bottom: 0px !important;
}

.modal-password-validate{
    color: var(--green);
}

.show{
    display: block;
}
.hide{
    display: none;
}
.modal-add-input-cont-error{
    margin-top: 1%;
    color: var(--red);
    margin-left: 35px;
    font-size: 0.7rem;
    margin-bottom: 0;
}

