.modal-content-diario {
    background-color: white;
    width: 550px; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: 550px; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    padding-bottom: 20px !important;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px; /* Optional. Rounds container corners */
    border-style: none;
}


.inside-the-modal-diario{
    text-align: left !important;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.paciente-of-modal{
    margin-left: 5%;
}

.modal-diario-table{
    width: 100%;
    border-spacing: 0 10px;
    height: 100px;
    width: 90%;
    border: none;

}