.modal-content-update-user {
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 650px; /* Max width where it stops expanding */
    height:; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px; /* Optional. Rounds container corners */
    border-style: none;
}
.input-user{
    width: 100%;
    height: 30px;
    border-color:#a0a0a0;;
    border-style: solid;
    border-radius: 7px;
    padding: 2px;
    font-size: 15px;
    padding-left: 10px;
}
.uu-input-label p{
    margin-top: 30px;
    margin-bottom: 8px;
    margin-left: 5px;
}
.containter-update{
    padding-left: 30px;
    padding-right: 30px;
}
.modal-update-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}