.tabs-fila{
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-modal-sympts{
    border: none;
    border-spacing:0 10px;
    max-height: 353px;
    margin-left: 2%;
    

}
.td-table-modal-sympts.grade{
    display: flex;
    justify-content: center;

}
.td-table-modal-sympts{

}