.item-user-fila{
    margin-top: 10px !important;
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 52px;
    margin: 5px;
    padding-top: 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}
.item-user-fila::before{
    margin-top: 10px;
}
.item-user-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}
.item-user-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px;
}
.item-user-options{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #e6e6e6;
    width: 32px;
    border-radius: 50px;
}
.item-user-options:hover{
    background-color: #dddddd;
}

.item-user_icon_image{
    height: 20px;
    width: 20px;
}