/* See all users */
.item-user-fila{
    margin-top: 10px !important;
    cursor: pointer;
    background-color: var(--grey2);
    border-radius: 5px;
    height: 43px;
    margin: 5px;
    padding-top: 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}
.item-user-fila:hover{
    background-color: var(--greyholder);
}
.item-user-fila::before{
    margin-top: 10px;
}
.item-user-config{
    width: 40px;
}
.item-user-options:focus{
    outline: none;
}
.item-status-active{
    color:var(--green)
}
.item-status-inactive{
    color:var(--red)
}
.item-user-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}
.item-user-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px; 
}
.item-user-options{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: var(--grey2);
    border-radius: 50%;
    cursor: pointer;
}
.item-user-options:hover{
    background-color: var(--greyholder2);
}

.item-user_icon_image{
    height: 20px;
    width: 20px;
}

/* Home */

.usertab-fila{
    cursor: pointer;
    background-color: var(--grey2);
    border-radius: 5px;
    height: 43px;
    box-sizing: border-box;
    margin: 5px;
    padding-top: 10px;
}
.usertab-fila:hover{
    background-color: var(--greyholder);
}
.usertab-fila td{
    font-size: 15px;
}
.usertab-fila::after{
    margin-top: 10px;
}
.seeSympts-fila-fecha{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usertab-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px;
}

.usertab-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}

.item-user-fila-regdiario{
    width: 100%;
    margin-top: 10px !important;
    cursor: pointer;
    background-color: var(--grey2);
    border-radius: 5px;
    height: 52px;
    margin: 5px;
    padding-top: 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}

/* Estado */

.smile-icon{
    margin-left: 30px;
}

.estado-usertab-fila{
    cursor: pointer;
    background-color: var(--grey2);
    border-radius: 5px;
    height: 43px;
    margin: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}
.estado-usertab-fila:hover{
    background-color: var(--greyholder);
}
.estado-usertab-fila::after{
    margin-top: 10px;
}
/* symptoms */
.symptoms-usertab-fila{
    cursor: pointer;
    background-color: var(--grey2);
    border-radius: 5px;
    height: 43px;
    margin: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}
.symptoms-fila-fecha{
    padding-left: 4%;
}
.regdiario-fila-fecha{
    padding-left: 4%;
    width: 105px;
}
.symptoms-fila-grado{
    height: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
}
.usertab-sympts-col-grado{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emote-size{
   font-size: 1.3rem;
}
.value-regdiario{
    width: 150px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.emote-regdiario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.p-itemuser-symptoms{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    background-color: var(--grey3);
    padding-left: 5% ;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    font-size: small;
}