/* See all users */
.item-user-fila{
    margin-top: 10px !important;
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 43px;
    margin: 5px;
    padding-top: 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}
.item-user-fila::before{
    margin-top: 10px;
}
.item-user-config{
    width: 40px;
}
.item-status-active{
    color:rgb(72, 243, 95)
}
.item-status-inactive{
    color:rgb(243, 72, 72)
}
.item-user-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}
.item-user-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px; 
}
.item-user-options{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #e6e6e6;
    border-radius: 50px;
}
.item-user-options:hover{
    background-color: #dddddd;
}

.item-user_icon_image{
    height: 20px;
    width: 20px;
}

/* Home */

.usertab-fila{
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    padding-top: 10px;
}
.usertab-fila::after{
    margin-top: 10px;
}
.usertab-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px;
}

.usertab-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}

.item-user-fila-regdiario{
    margin-top: 10px !important;
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 52px;
    margin: 5px;
    padding-top: 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}

/* Estado */

.smile-icon{
    margin-left: 30px;
}

.estado-usertab-fila{
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 34px;
    margin: 5px;
    padding-top: 10px;
}
.estado-usertab-fila::after{
    margin-top: 10px;
}
/* Sintomas */
.sintomas-usertab-fila{
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 43px;
    margin: 5px;
    padding-top: 10px;
}
.sintomas-fila-fecha{
    padding-left: 5%;
}
.sintomas-fila-grado{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}