.button-log-out{
    padding: 0 !important;
    min-width: 10px!important;
}
.menu-eliminate-tuerquita-home{
    margin-top: 25px;
}
.menu-eliminate-tuerquita-profile{
    margin-top: 60px;
}

.tuerquita-link-to-home{
    color: black;
}