.filter-breadcrumb-background {
    background-color: #BE99FD;
    border-radius: 10px;
    height: 20px;
    margin-top: 0;
    width: fit-content;
    font: 400 13.3333px Arial;
    padding: 5px;
    display: flex;
}
.filter-breadcrumb-text{
    margin-top: 2px;
    width: fit-content;
    margin-left: 5px;
}
.filter-breadcrumb-div-cross{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}