.filter-breadcrumb-background {
    background-color: #BE99FD;
    border-radius: 2vw;
    height: 1.5vw;
    margin-top: 0;
    width:14%;
    font: 400 13.3333px Arial;
    padding: 7px;
    display: flex;;
    justify-content: space-between;
}
.filter-breadcrumb-text{
    margin-top: 2%;
    width: fit-content;
    margin-left: 5%;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}
.filter-breadcrumb-div-cross{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    width: 30px;
    font-size: 1vw;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    color: #BE99FD;
}