.userall-cont-background-allUsers{
    margin-top: 20px;
    width: 1100px;
    height: auto;
    min-height: 300px;
    background-color: #F4F4F4;
    display: flex;
    border-radius: 5px;
}
.userall-big-table{
    width: inherit;
    border-spacing:0 10px;


}
.userall-cont-info-allUsers{
    height: auto;
    min-height: 300px;
    width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-right: 30px solid #9357F7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F4F4F4;
}
.big-table{
    width: 1100px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}
.userall-thead{
    color: #9357F7;
    margin-bottom: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> eebe354af30a7b0a17a0c899d9b11e5a2c84dd3b

.userall_icon_image{
    height: 20px;
    width: 20px;
}