.fc-event{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fc-event-today {
    background-color: lightgreen !important;
    box-shadow: 2px 2px 2px #706868 !important;
}
.fc-today {
    background-color: none !important;
}
.userall-top-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userall-final-btns-class{
    height: 40px;
    width: auto;
    background-color: lightgray;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}
.userall-final-btns-class.true {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}
.alldiarys-th {
    width: 25%;
}
.item-user-alldiaryRegs-fecha{
    width: 20%;
    padding-left: 5%;
}
.regdiarios-td{
    flex-direction: column;
}
