.fc-event{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fc-event-today {
    background-color: lightgreen !important;
    box-shadow: 2px 2px 2px #706868 !important;
}
.fc-today {
    background-color: none !important;
}