.userall-cont-background-allUsers{
    margin-top: 20px;
    width: 1100px;
    height: auto;
    min-height: 300px;
    background-color: #F4F4F4;
    display: flex;
    border-radius: 5px;
}
.userall-big-table{
    padding-top: 5px;
    width: 100%;
    border-spacing:0 10px;

}
.userall-btn-load-more{
    width: 100%;
    height: 35px;
    background-color: #c9c9c9;
    border-style: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}
.userall-btn-load-more:hover{
    background-color: #c0c0c0;
}
.userall-cont-background{
    width: auto;
    height: 100%;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.userall-head{
    flex:2;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.refresh-btn{
    align-self: flex-end;
}
.userall-cont-cont{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.userall-cont-info-allUsers{
    min-height: 75vh;
    height: fit-content;
    width: initial;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-right: 30px solid var(--primary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F4F4F4;
}
.big-table{
    height: 100%;
    width: 1100px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}
.userall-thead{
    color: var(--primary);
    margin-bottom: 10px;
}

.userall_icon_image{
    height: 20px;
    width: 20px;
}
.menu-see-all-users{
    margin-left: 2%;
}