.notfound-cont{
    width: 100vw;
    padding-left: 200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.notfound-img{
    height: 60%;
}
.notfound-ops{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 6em;
}
.notfound-sai{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
}
.notfound-text{
    margin-left: 40px;
}
.notfound-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    margin-top: 25px;
    background-color: var(--primary-light);
    color: white;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
}
.notfound-btn:hover{
    background-color: var(--primary-light-hover);
}