.mouse-over-descr{
    cursor: pointer;
    font: 16px 'Montserrat' !important;
    border: none;
    background: none;
    width: 100%;
}
.userall-thead-sympts{
    color: var(--primary);
    margin-bottom: 10px;
}