.home-cont-background{
    width: auto;
    height: 100vh;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}
.home-cont-buttons{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    flex-grow: 0;
    flex-shrink: 0;
    
}

@media screen and (max-width: 1250px) {
    .home-cont-usertabs {
         flex: 1;
         width: 93%;
    }
}

@media screen and (min-width: 1250px) {
    .home-cont-usertabs{
        flex:2;
        width: auto;
        display: flex;
        padding-bottom: 40px;
    }
}

.home-circ-progress{
    padding: 0% !important;
    background-color: #4b4b4b4f;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    width: 200vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
