.patientsymptoms-th-empty{
    width: 5%;
}
.patientsymptoms-th-fecha{
    width: 25%;
}
.patientsymptoms-th-avatar{
    width:15%;
}
.patientsymptoms-th-patient{
    width:30%;
}
.patientsymptoms-th-symptom{
    width:30%;
}