.profile-cont-background{
    width: auto;
    height: 100%;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.profile-cont-background1{
    width: auto;
    height: 100%;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiSkeleton-text {
    transform: none !important;
}
.square-div-complete-profile {
    margin-top: 30px;
    height: 100%;
    width: 47%;
    border-right: 2em solid var(--primary);
    border-right-style: inset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 7px;
}

.square2-div-complete-profile {
    margin-left: 2%;
    float: left;
    height: 100%;
    margin-top: 30px;
    width: 47%;
    text-align: center;
    background-color: #F4F4F4;
    border-right: 2em solid var(--primary);
    border-right-style: inset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 7px;
}

@media screen and (max-width: 1150px) {
    .two-squares-complete-profile {
         flex: 1;
         margin-top: 50px;
    }
}

@media screen and (min-width: 1150px) {
    .two-squares-complete-profile{
        height: 100%;
        width: 100%;
        flex: 2;
        display: flex;
        margin-top: 50px;
    }
}
.profile-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.profile-chart-cont{
    margin-top: 50px;
    background-color: #F4F4F4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.profile-chart-selector{
    width: 160px;
    height: 40px;
    border-style: none;
    background-color:#ebebeb;
    padding-left: 10px;
}
.profile-chart-top-text{
    font-weight: 600;
}

.profile-chart-top-cont{
    width: auto;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #c9c9c9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}
.profile-chart-svg-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-arrow{
    margin-left: 10px;
}