
.profile-cont-background{
    width: auto;
    height: 100%;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.profile-cont-background1{
    width: auto;
    height: 100%;
    background-color: white;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiSkeleton-text {
    transform: none !important;
}
.square-div-complete-profile {
    margin-top: 30px;

    height: 100%;
    width: 47%;
    border-right: 2em solid var(--primary);
    border-right-style: inset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 7px;
}

.square2-div-complete-profile {
    margin-left: 2%;
    float: left;
    height: 100%;
    margin-top: 30px;
    width: 47%;
    text-align: center;
    background-color: #F4F4F4;
    border-right: 2em solid var(--primary);
    border-right-style: inset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 7px;
}

@media screen and (max-width: 1150px) {
    .two-squares-complete-profile {
         flex: 1;
         margin-top: 50px;
    }
}

@media screen and (min-width: 1150px) {
    .two-squares-complete-profile{
        height: 100%;
        width: 100%;
        flex: 2;
        display: flex;
        margin-top: 50px;
    }
}
