.accept-user-background-cont{
    width: auto;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accept-user-left{
    width: max-content;
    position: relative;
}
.accept-user-right{
    flex: 0.8;
    width: fit-content;
    height: auto;
    min-height: 50px;
}
.accept-user-list{
    background-color: #F2F2F2;
    min-height: 50px;
    padding: 10px;
    padding-top: 0;
    height: 94vh;
    overflow-y: scroll;
    border-radius: 10px;
    position: absolute;
}
.accept-user-list.fixed{
    top: 10px;
    position: fixed;
}
.accept-form{
    background-color: #F2F2F2;
}
.accept-user-btn{
    flex: 0.1;
}
